
@{
    ViewBag.Title = "Index";
}

<div class="row">
    <div class="col col-lg-12 mt-2">
        <h2><i class="far fa-address-card mr-1"></i>Accomodation Types</h2>
        <hr />
    </div>
</div>

<div class="row mb-3">
    <div class="col col-lg-12">
        <div class="input-group">
            <input type="text" class="form-control" placeholder="Search Here">
            <div class="input-group-append" id="button-addon4">
                <button class="btn btn-outline-primary" type="button"><i class="fas fa-search mr-1"></i> Search</button>
                <button class="btn btn-outline-secondary" type="button"><i class="fas fa-sync mr-1"></i> Reset</button>
                <button id="CreateButton" class="btn btn-outline-success" type="button" data-toggle="modal" data-target="#actionModal"><i class="fas fa-plus mr-1"></i> Create</button>
            </div>
        </div>
    </div>
</div>


<div class="row">
    <div class="col col-lg-12">
        @{ Html.RenderAction("Listing"); }
    </div>
</div>



<!-- Modal -->
<div class="modal fade" id="actionModal" tabindex="-1" role="dialog" >
    <div class="modal-dialog" role="document">
        
    </div>
</div>

<script>
    $("#CreateButton").click(function () {
        $.ajax({
            url: '@Url.Action("Action", "AccomodationTypes")',
          //  method: 'post',
            
        })
            .done(function (response) {
                $("#actionModal .modal-dialog").html(response);
            });
    });
</script>